<a href="https://colab.research.google.com/github/truongtop14/Codeshool-DataScientist/blob/master/Chocolate_Bar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Step 1 - Exploration Ideas
1. What are the most companys to produce chocolate?
2. Where are the most places to produce chocolate?
3. What type of chocolate is the best seller?
4. What rating of chocolate is the most popular?
5. What year is the most time to produce chocolate?
6. What cocoa percent is the most favor?

#Step 2 - Checking the data
##Import tools set

In [411]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import nltk
nltk.download('punkt')
sns.set_style("whitegrid")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

##Import data from google sheets

In [0]:
!pip install --upgrade -q gspread

In [0]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

worksheet = gc.open('chocolate').sheet1

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()
#print(rows)

In [0]:
# Convert to a DataFrame and render.
import pandas as pd
chocolate = pd.DataFrame.from_records(rows[1:])

In [0]:
chocolate.columns = ['company','specific_bean_origin','ref','review_date','cocoa_percent','company_location','rating','bean_type','broad_bean_origin']

In [416]:
chocolate.head()

    company specific_bean_origin   ref  ... rating bean_type broad_bean_origin
0  A. Morin          Agua Grande  1876  ...   3.75                    Sao Tome
1  A. Morin                Kpime  1676  ...   2.75                        Togo
2  A. Morin               Atsane  1676  ...      3                        Togo
3  A. Morin                Akata  1680  ...    3.5                        Togo
4  A. Morin               Quilla  1704  ...    3.5                        Peru

[5 rows x 9 columns]

In [0]:

worksheet = gc.open('country_list').sheet1

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()
#print(rows)

In [0]:
# Convert to a DataFrame and render.
import pandas as pd
country_list = pd.DataFrame.from_records(rows[1:])

In [0]:
country_list.columns = rows[0]

In [420]:
chocolate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
company                 1795 non-null object
specific_bean_origin    1795 non-null object
ref                     1795 non-null object
review_date             1795 non-null object
cocoa_percent           1795 non-null object
company_location        1795 non-null object
rating                  1795 non-null object
bean_type               1795 non-null object
broad_bean_origin       1795 non-null object
dtypes: object(9)
memory usage: 126.3+ KB

In [0]:
def preprocessing_string(x):
  if x.strip() == '':
    return 'Unknown'
  else:
    return x.strip()# Delete all space

In [0]:
chocolate['bean_type'] = chocolate['bean_type'].apply(preprocessing_string)

In [423]:
chocolate[chocolate['bean_type'] == 'Unknown'].head()

    company specific_bean_origin   ref  ... rating bean_type broad_bean_origin
0  A. Morin          Agua Grande  1876  ...   3.75   Unknown          Sao Tome
1  A. Morin                Kpime  1676  ...   2.75   Unknown              Togo
2  A. Morin               Atsane  1676  ...      3   Unknown              Togo
3  A. Morin                Akata  1680  ...    3.5   Unknown              Togo
4  A. Morin               Quilla  1704  ...    3.5   Unknown              Peru

[5 rows x 9 columns]

In [0]:
chocolate['broad_bean_origin'] = chocolate['broad_bean_origin'].apply(preprocessing_string)

In [425]:
chocolate[chocolate['broad_bean_origin'] == 'Unknown'].head()

         company specific_bean_origin   ref  ... rating bean_type broad_bean_origin
77        Amedei                 Nine   111  ...      4     Blend           Unknown
85        Amedei        Toscano Black   170  ...    3.5     Blend           Unknown
86        Amedei        Toscano Black    40  ...      5     Blend           Unknown
87        Amedei        Toscano Black    75  ...      4     Blend           Unknown
144  Bahen & Co.           Houseblend  1474  ...   3.25   Unknown           Unknown

[5 rows x 9 columns]

In [0]:
chocolate['ref'] = chocolate['ref'].astype(int)

In [0]:
chocolate['review_date'] = chocolate['review_date'].astype(int)

In [0]:
def preprocessing_percent_to_float(x):
  return float(x.strip().strip('%')) / 100

In [0]:
chocolate['cocoa_percent'] = chocolate['cocoa_percent'].apply(preprocessing_percent_to_float)

In [0]:
chocolate['rating'] = chocolate['rating'].astype(float)

In [431]:
chocolate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
company                 1795 non-null object
specific_bean_origin    1795 non-null object
ref                     1795 non-null int64
review_date             1795 non-null int64
cocoa_percent           1795 non-null float64
company_location        1795 non-null object
rating                  1795 non-null float64
bean_type               1795 non-null object
broad_bean_origin       1795 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 126.3+ KB

In [432]:
chocolate.describe()

               ref  review_date  cocoa_percent       rating
count  1795.000000  1795.000000    1795.000000  1795.000000
mean   1035.904735  2012.325348       0.716983     3.185933
std     552.886365     2.927210       0.063231     0.478062
min       5.000000  2006.000000       0.420000     1.000000
25%     576.000000  2010.000000       0.700000     2.875000
50%    1069.000000  2013.000000       0.700000     3.250000
75%    1502.000000  2015.000000       0.750000     3.500000
max    1952.000000  2017.000000       1.000000     5.000000

In [433]:
chocolate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
company                 1795 non-null object
specific_bean_origin    1795 non-null object
ref                     1795 non-null int64
review_date             1795 non-null int64
cocoa_percent           1795 non-null float64
company_location        1795 non-null object
rating                  1795 non-null float64
bean_type               1795 non-null object
broad_bean_origin       1795 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 126.3+ KB

In [434]:
chocolate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
company                 1795 non-null object
specific_bean_origin    1795 non-null object
ref                     1795 non-null int64
review_date             1795 non-null int64
cocoa_percent           1795 non-null float64
company_location        1795 non-null object
rating                  1795 non-null float64
bean_type               1795 non-null object
broad_bean_origin       1795 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 126.3+ KB

In [435]:
chocolate['broad_bean_origin'].value_counts().sort_index()

Africa, Carribean, C. Am.         1
Australia                         3
Belize                           49
Bolivia                          57
Brazil                           58
Burma                             1
Cameroon                          1
Carribean                         8
Carribean(DR/Jam/Tri)             1
Central and S. America            4
Colombia                         40
Colombia, Ecuador                 3
Congo                            10
Cost Rica, Ven                    1
Costa Rica                       38
Cuba                             11
DR, Ecuador, Peru                 1
Dom. Rep., Madagascar             1
Domincan Republic                25
Dominican Rep., Bali              1
Dominican Republic              141
Ecuador                         193
Ecuador, Costa Rica               1
Ecuador, Mad., PNG                1
El Salvador                       2
Fiji                              8
Gabon                             1
Ghana                            33
Ghana & Madagascar                1
Ghana, Domin. Rep                 2
                               ...
South America                     3
South America, Africa             1
Sri Lanka                         2
St. Lucia                         8
Suriname                          1
Tanzania                         34
Tobago                            2
Togo                              3
Trinidad                         33
Trinidad, Ecuador                 1
Trinidad, Tobago                  2
Trinidad-Tobago                   1
Uganda                            8
Unknown                          74
Vanuatu                           7
Ven, Bolivia, D.R.                1
Ven, Trinidad, Ecuador            1
Ven., Indonesia, Ecuad.           1
Ven., Trinidad, Mad.              1
Ven.,Ecu.,Peru,Nic.               1
Venez,Africa,Brasil,Peru,Mex      1
Venezuela                       214
Venezuela, Carribean              1
Venezuela, Dom. Rep.              1
Venezuela, Ghana                  1
Venezuela, Java                   1
Venezuela, Trinidad               1
Venezuela/ Ghana                  1
Vietnam                          38
West Africa                       6
Name: broad_bean_origin, Length: 100, dtype: int64

In [0]:
from difflib import SequenceMatcher

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [0]:
def find_in_country_list(my_string):
  if my_string != 'Unknown':
    max_conf = 0
    my_country = 'Unknown'
    my_string = my_string.lower()
    
    for country in country_list['Name']:
      temp_conf = similar(my_string[:min(10,len(country)) + 1], country.lower()[:min(10,len(country)) + 1])
      if max_conf < temp_conf:
        max_conf = temp_conf
        my_country = country
      
    return my_country.title()
  else:
    return my_string

In [439]:
country_list.tail(60)

                                             Name Code
189                     Saint Pierre and Miquelon   PM
190              Saint Vincent and the Grenadines   VC
191                                         Samoa   WS
192                                    San Marino   SM
193                         Sao Tome and Principe   ST
194                                  Saudi Arabia   SA
195                                       Senegal   SN
196                                        Serbia   RS
197                                    Seychelles   SC
198                                  Sierra Leone   SL
199                                     Singapore   SG
200                     Sint Maarten (Dutch part)   SX
201                                      Slovakia   SK
202                                      Slovenia   SI
203                               Solomon Islands   SB
204                                       Somalia   SO
205                                  South Africa   ZA
206  South Georgia and the South Sandwich Islands   GS
207                                   South Sudan   SS
208                                         Spain   ES
209                                     Sri Lanka   LK
210                                         Sudan   SD
211                                      Suriname   SR
212                        Svalbard and Jan Mayen   SJ
213                                     Swaziland   SZ
214                                        Sweden   SE
215                                   Switzerland   CH
216                          Syrian Arab Republic   SY
217                     Taiwan, Province of China   TW
218                                    Tajikistan   TJ
219                  Tanzania, United Republic of   TZ
220                                      Thailand   TH
221                                   Timor-Leste   TL
222                                          Togo   TG
223                                       Tokelau   TK
224                                         Tonga   TO
225                           Trinidad and Tobago   TT
226                                       Tunisia   TN
227                                        Turkey   TR
228                                  Turkmenistan   TM
229                      Turks and Caicos Islands   TC
230                                        Tuvalu   TV
231                                        Uganda   UG
232                                       Ukraine   UA
233                          United Arab Emirates   AE
234                                United Kingdom   GB
235                                 United States   US
236          United States Minor Outlying Islands   UM
237                                       Uruguay   UY
238                                    Uzbekistan   UZ
239                                       Vanuatu   VU
240             Venezuela, Bolivarian Republic of   VE
241                                      Viet Nam   VN
242                       Virgin Islands, British   VG
243                          Virgin Islands, U.S.   VI
244                             Wallis and Futuna   WF
245                                Western Sahara   EH
246                                         Yemen   YE
247                                        Zambia   ZM
248                                      Zimbabwe   ZW

In [0]:
chocolate['broad_bean_origin'] = chocolate['broad_bean_origin'].apply(find_in_country_list)

In [443]:
chocolate

                 company  ...                  broad_bean_origin
0               A. Morin  ...              Sao Tome And Principe
1               A. Morin  ...                               Togo
2               A. Morin  ...                               Togo
3               A. Morin  ...                               Togo
4               A. Morin  ...                               Peru
5               A. Morin  ...  Venezuela, Bolivarian Republic Of
6               A. Morin  ...                               Cuba
7               A. Morin  ...  Venezuela, Bolivarian Republic Of
8               A. Morin  ...  Venezuela, Bolivarian Republic Of
9               A. Morin  ...                               Peru
10              A. Morin  ...                             Panama
11              A. Morin  ...                         Madagascar
12              A. Morin  ...                             Brazil
13              A. Morin  ...                            Ecuador
14              A. Morin  ...                           Colombia
15              A. Morin  ...                            Bermuda
16              A. Morin  ...                   Papua New Guinea
17              A. Morin  ...  Venezuela, Bolivarian Republic Of
18              A. Morin  ...                               Peru
19              A. Morin  ...                               Peru
20              A. Morin  ...                               Peru
21              A. Morin  ...    Bolivia, Plurinational State Of
22              A. Morin  ...                               Peru
23                Acalli  ...                               Peru
24                Acalli  ...                               Peru
25                   Adi  ...                               Fiji
26                   Adi  ...                               Fiji
27                   Adi  ...                               Fiji
28                   Adi  ...                               Fiji
29    Aequare (Gianduja)  ...                            Ecuador
...                  ...  ...                                ...
1765               Zak's  ...                             Belize
1766               Zak's  ...                            Unknown
1767       Zart Pralinen  ...                         Madagascar
1768       Zart Pralinen  ...                            Ecuador
1769       Zart Pralinen  ...                Trinidad And Tobago
1770       Zart Pralinen  ...       Tanzania, United Republic Of
1771       Zart Pralinen  ...       Tanzania, United Republic Of
1772       Zart Pralinen  ...                Trinidad And Tobago
1773              Zokoko  ...                    Solomon Islands
1774              Zokoko  ...                            Unknown
1775              Zokoko  ...    Bolivia, Plurinational State Of
1776              Zokoko  ...                   Papua New Guinea
1777              Zokoko  ...    Bolivia, Plurinational State Of
1778              Zotter  ...                            Unknown
1779              Zotter  ...                             Panama
1780              Zotter  ...                            Unknown
1781              Zotter  ...                               Peru
1782              Zotter  ...                               Peru
1783              Zotter  ...                 Dominican Republic
1784              Zotter  ...                            Ecuador
1785              Zotter  ...                   Papua New Guinea
1786              Zotter  ...    Bolivia, Plurinational State Of
1787              Zotter  ...                 Dominican Republic
1788              Zotter  ...                              Congo
1789              Zotter  ...                            Unknown
1790              Zotter  ...                               Peru
1791              Zotter  ...                              Congo
1792              Zotter  ...                              India
1793              Zotter  ...                              India
1794              Zotter  ...                             Brazil

[1795 rows x 9 columns]